@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
  font-size: 17px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 70px 0;
}

.purple {
  color: #6415ff;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

h2 {
  color: #1a202c;
  line-height: 1.25;
}

h4 {
  letter-spacing: 2;
}

button {
  cursor: pointer;
  border: none;
  background-color: #6415ff;
  color: #fff;
  padding: 10px 25px;
  border-radius: 50px;
}

/* LANDING */

#landing {
  padding: 0 32px;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 10px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  margin: 0 12px;
}

.nav__link--primary {
  background-color: #6415ff;
  padding: 10px 32px;
  border-radius: 30px;
  color: white;
  line-height: 1.5;
}

.nav__link--primary:hover {
  background-color: #8852f5;
  text-decoration: none;
}

.header__row {
  display: flex;
}

.header__description {
  width: 40%;
}

.header__description--para {
  margin: 28px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.header__email--btn {
  background-color: #6415ff;
  color: #fff;
  padding: 10px;
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
}

.header__customers {
  margin-top: 16px;
  opacity: 0.5;
  width: 100%;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  width: 100%;
}

/* FEATURES */

#features {
  padding: 0 32px;
}

.row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  text-align: center;
  margin: 28px;
}

.features__para {
  text-align: center;
  max-width: 576px;
  margin-bottom: 56px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  padding: 32px 20px;
  display: flex;
  align-items: flex-start;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border-radius: 500px;
  border: 1px solid rgb(229, 231, 235);
}

.feature__img {
  height: 24px;
  width: 24px;
}

.feature__description {
    margin-left: 7px;
}

.feature__title {
    padding: 10px 0;
}

/* QUALITY */

#quality {
    padding: 0 32px;
}

.quality__row {
    display: flex;
}

.quality__description {
    width: 50%;
}

.quality__img--wrapper {
    margin: 0 40px;
    width: 50%;
}

.quality__img {
    width: 100%;
    height: 100%;
}